h1 {
    color: white;
}

.jamming {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
  }
  
  button {
    color: white;
    background-color: #1562676a;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
  }